<h1>Request Customer Internvention</h1>


<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">

    <%= form_tag('request_intervention', method: "post", class: "form-inline", remote: true) do %>

    <%= select_tag "Customer", options_from_collection_for_select(Customer.all, "id", "company_name"), prompt: "Customer", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>

	<%= select_tag "Building", options_from_collection_for_select(Building.all, "customer_id", "buildingAddress"), prompt: "Building", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>

	<%= select_tag "Battery", options_from_collection_for_select(Battery.all, "id", "building_id"), prompt: "Battery", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>

	<%= select_tag "Column", options_from_collection_for_select(Column.all, "id", "battery_id"), prompt: "Column", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
	
	<%= select_tag "Elevator", options_from_collection_for_select(Elevator.all, "id", "column_id"), prompt: "Elevator", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
   
<%= text_area_tag 'description', "", disabled: false %>


    <%= submit_tag("Submit", class: "btn btn-primary") %>
<% end %>
  </div>
</div>

